/*cabeçalho*/


.logo{
    height: 80px;
}
/*Conteudo principal*/


/*banner*/
#section-banners{
    height: 500px;
}

/*Produtos vendidos*/
#section-vendidos img{
    height: 300px;
    border-radius: 10px;
}
#section-vendidos .card{
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
#section-vendidos .preço{
    color: red;
    font-size: 18px;
    font-weight: bold;
}





/*Rodapé*/
footer{
    text-align: center; /*texto alinhado ao centro*/
}
footer p{
    font-weight: bold; /*fonte*/
    padding: 10px; /*espaçamento*/
}

/*Botão Voltar topo*/
#voltar-topo{
    position:fixed;
    bottom: 5px;
    right: 50px;
}

/* página de login  */
#section-login{
    margin: 100px;
}

#section-login h1{
    text-align: center;
}
#section-login input{
    width: 250px;
} 

/* Formulário de cadastro*/

#section-cadastro{
    padding: 5px;
    text-align: center;
    background-color: #fff;
}
#form-cadastrar{
    padding: 50px;
    display: none;

}
